<launch>
  <!-- rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <!-- tf2 republisher -->
  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" respawn="true" output="screen"/>


 <!--depth cloud and video server -->
  <node pkg = "web_video_server" type="web_video_server" name="web_video_server" respawn="true" output="screen">
	<param name="port" value="8080" />
</node>
  <!-- user queue -->
  <node pkg="rail_user_queue_manager" type="rail_user_queue_manager" name="rail_user_queue_manager" respawn="true" output="screen"/>

  <!-- Interactive Markers -->
  <node name="nimbus_6dof_planning_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/nimbus_6dof_planning" />
    <remap from="target_frame" to="/table_base_link" />
  </node>

  <node name="nimbus_6dof_vis_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/nimbus_6dof_vis" />
    <remap from="target_frame" to="/table_base_link" />
  </node>

  <node name="nimbus_navidget_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/nimbus_navidget" />
    <remap from="target_frame" to="/table_base_link" />
  </node>

  <node name="nimbus_im_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/nimbus_interactive_manipulation" />
    <remap from="target_frame" to="/table_base_link" />
  </node>

  <node name="nimbus_grasp_selector_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/grasp_selector" />
    <remap from="target_frame" to="/table_base_link" />
  </node>

  <node name="nimbus_point_cloud_clicker_proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
    <remap from="topic_ns" to="/point_cloud_clicker" />
    <remap from="target_frame" to="/table_base_link" />
  </node>
</launch>
