<!--
   Author: David Kent, Worcester Polytechnic Institute
  Version: October 8, 2015
-->

<launch>
  <!-- Arm Params -->
  <arg name="home_arm_on_init" default="false" />

  <!-- Gripper Params -->
  <arg name="comport" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>

  <!-- Segmentation Params -->
  <arg name="debug" default="false" />

  <!-- Recognition Params -->
  <arg name="segmented_objects_topic" default="/rail_segmentation/segmented_objects" />

  <!-- Manipulation Params -->
  <arg name="using_pickup" default="true" />
  <arg name="visualize_recognition" default="true" />

  <!-- Jaco 2 -->
  <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
    <arg name="kinova_robotType" value="j2s7s300" />
    <arg name="use_urdf" value="false" />
  </include>
  <!--<node pkg="kinova_driver" type="joint_trajectory_action_server" name="j2s7s300_joint_trajectory_action_server" output="screen" respawn="false" args="j2s7s300" />-->
  <node pkg="nimbus_moveit_config" type="jaco_trajectory_controller" name="jaco_trajectory_controller" output="screen" />

  <!-- Robotiq 85 ROS Driver -->
  <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
    <param name="num_grippers" value="1" />
    <param name="comport" value="$(arg comport)" />
    <param name="baud" value="$(arg baud)" />
  </node>
  <node pkg="robotiq_85_gripper_actions" type="gripper_actions" name="gripper_actions" />

  <include file="$(find nimbus_bringup)/launch/sensors.launch" />
  <include file="$(find nimbus_bringup)/launch/robot_model.launch" />

  <include file="$(find nimbus_bringup)/launch/nimbus_recognition.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="segmented_objects_topic" value="$(arg segmented_objects_topic)" />
  </include>

  <!--Depth Cloud -->
  <node pkg="depthcloud_encoder" type="depthcloud_encoder_node" name="depth_cloud1">
   <param name="depth" value="/camera/depth_registered/image_float" />
   <param name="rgb" value="/camera/rgb/image_rect_color" />
  </node>

  <node pkg="depthcloud_encoder" type="depthcloud_encoder_node" name="depth_cloud2">
   <param name="depth" value="/camera_side/depth_registered/image_float" />
   <param name="rgb" value="/camera_side/rgb/image_rect_color" />
   <remap from="depthcloud_encoded" to="depthcloud_encoded_side"/>
  </node>

  <!--depth cloud processing-->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

  <node pkg="nodelet" type="nodelet" name="convert1" args="standalone depth_image_proc/convert_metric image_raw:=/camera/depth_registered/image_raw image:=/camera/depth_registered/image_float" />
  <node pkg="nodelet" type="nodelet" name="convert2" args="standalone depth_image_proc/convert_metric image_raw:=/camera_side/depth_registered/image_raw image:=/camera_side/depth_registered/image_float" />
  


  <!-- MoveIt -->
  <include file="$(find nimbus_moveit_config)/launch/nimbus_moveit_full.launch" />
  <node pkg="nimbus_moveit_config" type="nimbus_moveit" name="nimbus_moveit" output="screen"/>
  <node pkg="nimbus_moveit_config" type="common_actions" name="common_actions" output="screen"/>

</launch>
