<!--
   Author: David Kent, Worcester Polytechnic Institute
  Version: October 8, 2015
-->

<launch>
  <!-- Arm Params -->
  <arg name="home_arm_on_init" default="false" />

  <!-- Gripper Params -->
  <arg name="comport" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>

  <!-- Manipulation Params -->
  <arg name="using_pickup" default="true" />
  <arg name="visualize_recognition" default="true" />

  <!-- Vision Params -->
  <arg name="use_color" default="false" />

  <!-- Jaco 2 -->
  <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
    <arg name="kinova_robotType" value="j2s7s300" />
    <arg name="use_urdf" value="false" />
  </include>
  <!--<node pkg="kinova_driver" type="joint_trajectory_action_server" name="j2s7s300_joint_trajectory_action_server" output="screen" respawn="false" args="j2s7s300" />-->
  <node pkg="nimbus_moveit_config" type="jaco_trajectory_controller" name="jaco_trajectory_controller" output="screen" />

  <!-- Robotiq 85 ROS Driver -->
  <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
    <param name="num_grippers" value="1" />
    <param name="comport" value="$(arg comport)" />
    <param name="baud" value="$(arg baud)" />
  </node>
  <node pkg="robotiq_85_gripper_actions" type="gripper_actions" name="gripper_actions" />

  <include file="$(find nimbus_bringup)/launch/sensors.launch" />
  <include file="$(find nimbus_bringup)/launch/robot_model.launch" />

  <!-- Vision -->
  <node name="rail_segmentation" pkg="rail_segmentation" type="rail_segmentation" output="screen">
    <param name="zones_config" value="$(find nimbus_bringup)/config/segmentation/zones.yaml" />
    <param name="point_cloud_topic" value="camera/depth_registered/points" />
    <param name="use_color" value="$(arg use_color)" />
    <param name="min_cluster_size" value="100" />
    <param name="max_cluster_size" value="20000" />
  </node>
  <!--
  <node name="rail_segmentation_side" pkg="rail_segmentation" type="rail_segmentation" output="screen">
    <param name="zones_config" value="$(find nimbus_bringup)/config/segmentation/zones_side.yaml" />
    <param name="point_cloud_topic" value="camera_side/depth_registered/points" />
    <param name="use_color" value="$(arg use_color)" />
    <param name="min_cluster_size" value="100" />
    <param name="max_cluster_size" value="20000" />
    <param name="debug" value="true" />
  </node>
  -->

  <!-- MoveIt -->
  <include file="$(find nimbus_moveit_config)/launch/nimbus_moveit_full.launch" />
  <node pkg="nimbus_moveit_config" type="nimbus_moveit" name="nimbus_moveit" output="screen"/>
  <node pkg="nimbus_moveit_config" type="common_actions" name="common_actions" output="screen"/>

</launch>
